body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #12375c;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.event-group-heading {
    background: #EEE;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top:40px;
}

.event-box {
    width: 100%;
    background: #f5f5f5;
    border-radius: 5px;
    padding: 10px;
    margin: 5px 0 5px 0;
    word-wrap: break-word;
    border-style:solid;
    border-width: thin;
    border-color:#2ca3cf;
}

.alert {
    margin-top: 10px;
}

.navbar-inverse {
    background: #12375c;
    height: 80px;
}
.foot {
    background: #12375c
}
.container-fluid body-content {
    background: #12375c;
}
.navbar-brand {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: x-large;
    margin-left: 5px;
}
.navbar-icon {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    height: 70px;
    float: left;
    padding-bottom:10px;
}
.container-fluid{
    padding-top:10px;
    font-weight:bold;
}
